<app-header></app-header>
<div style="margin-top: 20%;">
  <h4 class="text-center">Login</h4>

  <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <input class="form-control" placeholder="Nome do usuário" type="text" [(ngModel)]="usuario" name="usuario"
        #campoUsuario="ngModel" required />
    </div>
    <br />
    <div class="form-group">
      <input class="form-control" placeholder="Senha" type="password" [(ngModel)]="senha" name="senha"
        #campoSenha="ngModel" required />
    </div>
    <br />
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block col-12">
      Login
    </button>
  </form>

  <p>
    Ainda não está cadastrado?
    <a [routerLink]="['novo-usuario']">Se cadastre</a>
  </p>
</div>
