.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #3f4dcd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-title {
  text-align: center;
  flex-grow: 1;
}

.header-title h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.header-profile {
  margin-left: 10px;
}
