<div
  style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center; background-color: #f1f1f1; font-family: Arial, sans-serif;">
  <h1 style="font-size: 3rem; color: #555;">Erro 404</h1>
  <p style="font-size: 1.5rem; color: #888; margin-bottom: 2rem;">Ops! Parece que você se perdeu...</p>
  <p style="font-size: 1.2rem; color: #777; margin-bottom: 1rem;">A página que você está procurando não foi encontrada.
  </p>
  <p style="font-size: 1.2rem; color: #777; margin-bottom: 2rem;">Verifique se digitou corretamente o endereço ou
    retorne à página inicial.</p>
  <a href="/"
    style="text-decoration: none; padding: 0.8rem 1.5rem; background-color: #007bff; color: #fff; border-radius: 5px; font-size: 1.2rem;">Página
    Inicial</a>
</div>
