<app-header [voltarPara]="'/home'"></app-header>
<br><br><br>

<h2 class="horizontal-center">
  Inclusão de Novos Ativos
</h2>

<p>
  <mat-radio-group id="operacao" [(ngModel)]="novoAtivo.codigoTipoOperacao" class="horizontal-center">
    <mat-radio-button *ngFor="let operacao of listaTipoOperacao" [value]="operacao.codigo">
      {{ operacao.nome }}
    </mat-radio-button>
  </mat-radio-group>
</p>
<mat-form-field appearance="outline">
  <mat-label>Tipo de Ativo</mat-label>
  <mat-select id="tipoAtivo" [(ngModel)]="novoAtivo.idTipoAtivo">
    <mat-option *ngFor="let tipo of listaTipoAtivo" [value]="tipo.codigo">
      {{ tipo.nome }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Código do Ativo</mat-label>
  <input matInput type="text" id="codigoAtivo" [(ngModel)]="novoAtivo.codigoAtivo" />
</mat-form-field>

<div class="form-field">
  <mat-form-field appearance="outline">
    <mat-label>Nome da Corretora</mat-label>
    <input matInput type="text" id="corretora" [(ngModel)]="novoAtivo.nomeCorretora" />
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field appearance="outline">
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" id="quantidade" [(ngModel)]='novoAtivo.quantidadeTransacionada' inputmode="numeric" />
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field appearance="outline">
    <mat-label>Valor transação</mat-label>
    <input matInput type="number" id="preco" [(ngModel)]="novoAtivo.valorUnitarioTransacionado" inputmode="numeric" />
  </mat-form-field>
</div>



<div class="form-field">
  <mat-form-field appearance="outline">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" [(ngModel)]="novoAtivo.dataTransacao">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<br />
<mat-toolbar>
  <button mat-raised-button color="primary" type="button" (click)="salvarAtivo()" style="width: 100%;">
    Salvar
  </button>
</mat-toolbar>
