<app-header></app-header>
<br><br><br>

<h2>Inclusão de Novos Ativos</h2>
<div class="form-field">
  <label for="tipoAtivo">Tipo de Ativo:</label>
  <select id="tipoAtivo" [(ngModel)]="novoAtivo.tipoAtivo">
    <option *ngFor="let tipo of tiposAtivo" [value]="tipo">{{ tipo }}</option>
  </select>
</div>


<div class="form-field">
  <label for="codigoAtivo">Código do Ativo:</label>
  <input type="text" id="codigoAtivo" [(ngModel)]="novoAtivo.codigoAtivo" />
</div>

<div class="form-field">
  <label for="operacao">Operação:</label>
  <select id="operacao" [(ngModel)]="novoAtivo.operacao">
    <option *ngFor="let operacao of operacoes" [value]="operacao">{{ operacao }}</option>
  </select>
</div>

<div class="form-field">
  <label for="corretora">Nome da Corretora:</label>
  <input type="text" id="corretora" [(ngModel)]="novoAtivo.corretora" />
</div>

<div class="form-field">
  <label for="quantidade">Quantidade:</label>
  <input type="number" id="quantidade" [(ngModel)]="novoAtivo.quantidade" />
</div>

<div class="form-field">
  <label for="preco">Preço:</label>
  <input type="number" id="preco" [(ngModel)]="novoAtivo.preco" />
</div>

<div class="form-field">
  <label for="data">Data:</label>
  <p-calendar [(ngModel)]="novoAtivo.data"></p-calendar>
</div>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" label="Voltar" icon="pi pi-arrow-left" class="p-button-secondary"
      (click)="voltarParaHome()"></button>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton type="button" label="Salvar" icon="pi pi-check" (click)="salvarAtivo()"></button>
  </div>
</p-toolbar>
